MicrosoftFabric01/ETLFramewordWorkspace/Pipelines/Generic_Master_Data_Transformation.json
{
    "name": "Generic_Master_Data_Transformation",
    "objectId": "26afa443-262a-4da9-8546-bb568f45e35f",
    "properties": {
        "activities": [
            {
                "name": "GetAllExecutionOrders",
                "type": "Script",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": {
                                "value": "select DISTINCT PipelineId,PipelineName,ExecutionOrder from config_pipelineparameterconfiguration\nwhere Enabled='TRUE'\norder by ExecutionOrder",
                                "type": "Expression"
                            }
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                },
                "externalReferences": {
                    "connection": "5caf16c0-9961-4e8d-9721-31ccbe08dd2b"
                }
            },
            {
                "name": "IterateThroughExecutionOrder",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "TruncateAndInsertIntoCurrentEXELog",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetAllExecutionOrders').output.resultSets[0].rows",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "PipelineStartTime",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "ChildPipelineStartTime",
                                "value": {
                                    "value": "@utcnow()",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "CheckAnyExecutionFailures",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "QueryPipelineFailures",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(length(activity('QueryPipelineFailures').output.resultSets),0)",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [],
                                "ifTrueActivities": [
                                    {
                                        "name": "TriggerChildPipeline",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "bbc3057f-a72f-4643-a5f0-6f99d05fa9e2",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "pMASTER_PIPELINE_RUNID": {
                                                    "value": "@pipeline().RunId",
                                                    "type": "Expression"
                                                },
                                                "pEXECUTION_ORDER": {
                                                    "value": "@item().ExecutionOrder",
                                                    "type": "Expression"
                                                },
                                                "pPIPELINE_ID": {
                                                    "value": "@item().PipelineId",
                                                    "type": "Expression"
                                                },
                                                "pPIPELINENAME": {
                                                    "value": "@item().PipelineName",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "PipelineSuccessLogging",
                                        "type": "TridentNotebook",
                                        "dependsOn": [
                                            {
                                                "activity": "TriggerChildPipeline",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "notebookId": "d64f85fd-3dc2-4fb1-a81e-409fc4aa4c38",
                                            "workspaceId": "ed48e609-f66b-4cc4-832c-588ba37d0047",
                                            "parameters": {
                                                "Pipeline_id": {
                                                    "value": {
                                                        "value": "@item().PipelineId",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Pipeline_Name": {
                                                    "value": {
                                                        "value": "@item().PipelineName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Pipeline_RunId": {
                                                    "value": {
                                                        "value": "@pipeline().RunId",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Start_Time": {
                                                    "value": {
                                                        "value": "@variables('ChildPipelineStartTime')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "End_Time": {
                                                    "value": {
                                                        "value": "@utcNow()",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "value": {
                                                        "value": "S",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Error_Message": {
                                                    "value": {
                                                        "value": "No error",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "TruncateCurrentLogInd": {
                                                    "value": {
                                                        "value": "0",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "InsertCurrentLogInd": {
                                                    "value": {
                                                        "value": "1",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "InsertEXELogInd": {
                                                    "value": {
                                                        "value": "1",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "InsertDTLogInd": {
                                                    "value": {
                                                        "value": "0",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "UpdateCurrentLogInd": {
                                                    "value": {
                                                        "value": "@variables('UpdateInd')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "PipelineFailureLogging",
                                        "type": "TridentNotebook",
                                        "dependsOn": [
                                            {
                                                "activity": "TriggerChildPipeline",
                                                "dependencyConditions": [
                                                    "Failed"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "notebookId": "d64f85fd-3dc2-4fb1-a81e-409fc4aa4c38",
                                            "workspaceId": "ed48e609-f66b-4cc4-832c-588ba37d0047",
                                            "parameters": {
                                                "Pipeline_id": {
                                                    "value": {
                                                        "value": "@item().PipelineId",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Pipeline_Name": {
                                                    "value": {
                                                        "value": "@item().PipelineName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Pipeline_RunId": {
                                                    "value": {
                                                        "value": "@pipeline().RunId",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Start_Time": {
                                                    "value": {
                                                        "value": "@variables('ChildPipelineStartTime')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "End_Time": {
                                                    "value": {
                                                        "value": "@utcNow()",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "value": {
                                                        "value": "F",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "Error_Message": {
                                                    "value": {
                                                        "value": "Pipeline Failed due to inner activity failure. Please check pipeline_dataset_logs for detailed logs.",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "TruncateCurrentLogInd": {
                                                    "value": {
                                                        "value": "0",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "InsertCurrentLogInd": {
                                                    "value": {
                                                        "value": "1",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "InsertEXELogInd": {
                                                    "value": {
                                                        "value": "1",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "InsertDTLogInd": {
                                                    "value": {
                                                        "value": "0",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                },
                                                "UpdateCurrentLogInd": {
                                                    "value": {
                                                        "value": "1",
                                                        "type": "Expression"
                                                    },
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "QueryPipelineFailures",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "PipelineStartTime",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                },
                                {
                                    "activity": "CurrentExeUpdateInd",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "type": "Query",
                                        "text": "select * from pipeline_current_execution_log where Status='F'"
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            },
                            "externalReferences": {
                                "connection": "5caf16c0-9961-4e8d-9721-31ccbe08dd2b"
                            }
                        },
                        {
                            "name": "CurrentExeUpdateInd",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "UpdateInd",
                                "value": {
                                    "value": "@if(equals(string(item().ExecutionOrder),variables('LastEXEOrder')),'1','0')",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "TruncateAndInsertIntoCurrentEXELog",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "GetAllExecutionOrders",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "SetMaxExeOrder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "d64f85fd-3dc2-4fb1-a81e-409fc4aa4c38",
                    "workspaceId": "ed48e609-f66b-4cc4-832c-588ba37d0047",
                    "parameters": {
                        "Pipeline_id": {
                            "value": {
                                "value": "0",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "Pipeline_Name": {
                            "value": {
                                "value": "PL_MASTER_E2E_EXECUTION",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "Pipeline_RunId": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "Start_Time": {
                            "value": {
                                "value": "@pipeline().TriggerTime",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "End_Time": {
                            "value": null,
                            "type": "string"
                        },
                        "Status": {
                            "value": {
                                "value": "R",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "Error_Message": {
                            "value": null,
                            "type": "string"
                        },
                        "TruncateCurrentLogInd": {
                            "value": {
                                "value": "1",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "InsertCurrentLogInd": {
                            "value": {
                                "value": "1",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "InsertEXELogInd": {
                            "value": {
                                "value": "0",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "InsertDTLogInd": {
                            "value": {
                                "value": "0",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "UpdateCurrentLogInd": {
                            "value": {
                                "value": "0",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "LastEXEOrder",
                "type": "Script",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": "select max(cast(ExecutionOrder as integer)) as maxExe from config_pipelineparameterconfiguration\nwhere Enabled='TRUE'"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                },
                "externalReferences": {
                    "connection": "5caf16c0-9961-4e8d-9721-31ccbe08dd2b"
                }
            },
            {
                "name": "SetMaxExeOrder",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "LastEXEOrder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "LastEXEOrder",
                    "value": {
                        "value": "@string(activity('LastEXEOrder').output.resultSets[0].rows[0].maxExe)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SendNotificationMail",
                "type": "Office365Outlook",
                "dependsOn": [
                    {
                        "activity": "IterateThroughExecutionOrder",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "typeProperties": {
                    "inputs": {
                        "method": "post",
                        "path": "/v2/Mail",
                        "body": {
                            "To": "deepthi.krishnankutty.nair@gds.ey.com;bedoonraj.k@gds.ey.com",
                            "Subject": "MasterPipeline Failed",
                            "Body": "<p>HI Team,<br>\n<br>\nThis is a notification for pipeline failure.</p>\n<p>Thanks,</p>\n<p>Admin</p>",
                            "Sensitivity": "",
                            "Importance": "Normal"
                        }
                    }
                }
            }
        ],
        "variables": {
            "ChildPipelineStartTime": {
                "type": "String"
            },
            "LastEXEOrder": {
                "type": "String"
            },
            "UpdateInd": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastModifiedByObjectId": "aaea08fe-ada3-4d0d-a7a2-27c925cd651e",
        "lastPublishTime": "2023-12-27T11:04:51Z",
        "logicAppsConnectionPayload": {
            "id": "/subscriptions/b6644f02-f90f-4d65-b09d-b774fc23cc7a/resourceGroups/connections-ed48e609-f66b-4cc4-832c-588ba37d0047/providers/Microsoft.Web/connections/1_26afa443-262a-4da9-8546-bb568f45e35f_aaea08fe-ada3-4d0d-a7a2-27c925cd651e",
            "properties": {
                "api": {
                    "name": "office365",
                    "id": "/subscriptions/b6644f02-f90f-4d65-b09d-b774fc23cc7a/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
                }
            }
        }
    }
}